@import "tailwindcss";

@theme {
  --color-darkBg: #0f0a1c;
  --color-cardBg: #1a1429;
  --color-brandPurple: #9333ea;
}

/* On écrase violemment les styles par défaut de Vite */
:root {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-darkBg);
  color: white;
}